.container-home {
    .image-banner {
        display: flex;
        .icon-baner {
            justify-content: center;
            width: 100%;
            height: 350px;
        }
    }
    footer {}
}